.md-toolbar {
  min-height: 56px;
  padding: 10px 15px;

  .md-toolbar-row {
    min-height: auto;
  }

  .md-button{
    margin: 0;
  }

  .md-toolbar-toggle .md-button-content{
    display: block;
    align-items: unset;
  }

  .notification{
    position: absolute;
    top: 0px;
    border: 1px solid #FFF;
    right: 7px;
    font-size: 9px;
    background: #f44336;
    color: #FFFFFF;
    min-width: 20px;
    padding: 0px 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
  }

  &.md-theme-default.md-transparent,
  &.md-theme-default,
  &.md-theme-default .md-title,
  &.md-theme-default.md-transparent .md-title {
    color: $gray;
  }

  .md-title {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-left: 0;
    margin-right: 15px;
    padding: 10px 0;
    font-weight: 300;
    letter-spacing: normal;
  }

  .md-toolbar-toggle {
    width: 40px;

    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      background-color: inherit;
      border: 1px solid;
      border-radius: 1px;

      & + .icon-bar{
        margin-top: 4px;
      }
    }
  }

  .md-list{
    flex-flow: row;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    color: inherit !important;
    background-color: transparent !important;

    &:hover .md-list-item > a,
    &:focus .md-list-item > a,
    & > a:hover {
      background-color: transparent !important;
    }

    .md-list-item > a:not(:last-child){
      margin-right: 5px;
    }
  }

  .md-field{
    padding: 0;
    margin: 0;

    &:after,
    &:before{
      bottom: 5px;
    }

    .md-input{
      margin-top: 6px;
    }

    label{
      top: 15px;
    }

    &.md-focused label,
    &.md-has-value label{
      top: -4px;
    }
  }

  .md-collapse{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

.md-menu-content{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: $border-radius-base !important;
  overflow: hidden;

  .md-list .md-list-item a{
    font-size: 10px;
  }
}
