.md-checkbox{
  .md-checkbox-container{
    border: 1px solid rgba(0, 0, 0, .54);
    border-radius: 3px;

    .md-ripple{
      -webkit-mask-image: radial-gradient(circle,#fff 100%,#000 0);
    }
  }

  &.md-checked .md-checkbox-container:after{
    border-color: $brand-primary !important;
    top: 0;
    left: 5px;
  }
}
