.wrapper{
    position: relative;
    top: 0;
    height: 100vh;
}

.sidebar,
.off-canvas-sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    @include shadow-big();
    background-size: cover;
    background-position: center center;


    .sidebar-wrapper{
        position: relative;
        height: calc(100vh - 75px);
        overflow: auto;
        width: 260px;
        z-index: 4;

        .dropdown .dropdown-backdrop{
            display: none !important;
        }

        .navbar-form{
            border: none;
        }

        .nav{
            padding: 0;

            [data-toggle="collapse"] ~ div > ul > li > a{
                padding-left: 60px;
            }

            .caret{
                margin-top: 13px;
                position: absolute;
                right: 18px;
            }
        }

    }

    .logo-tim{
        border-radius: 50%;
        border: 1px solid #333;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;

        img{
            width: 60px;
            height: 60px;
        }
    }



    .nav{
        margin-top: 20px;

        li{

          a{
            display: flex;
            padding: 10px 15px;
            text-decoration: none;
          }
            > a{
                margin: 10px 15px 0;
                border-radius: $border-radius-base;
                color: $black-color;
                @extend .animation-transition-general;
            }

            &:first-child > a{
                margin: 0 15px;
            }

            &:hover > a{
                background: rgba(200, 200, 200, 0.2);
                color: $black-color;
            }

            &.active > a{
                color: #FFFFFF;

                i{
                    color: #FFFFFF;
                }
            }
        }

        p{
            margin: 0;
            line-height: 30px;
            font-size: 14px;
            // font-weight: 600;
            // text-transform: uppercase;
        }

        i{
            font-size: 24px;
            float: left;
            margin-right: 15px;
            margin-left: 0;
            line-height: 30px;
            width: 30px;
            text-align: center;
            color: #a9afbb;
        }
    }

    .sidebar-background{
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;

        &:after{
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 100%;
            content: "";
            display: block;
            background: #FFFFFF;
            opacity: .93;
        }
    }

    .logo{
        position: relative;
        padding: $padding-base 0;
        z-index: 4;

        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            right: 15px;
            height: 1px;
            width: calc(100% - 30px);
            background-color: rgba(180,180,180, .3);

        }

        p{
            float: left;
            font-size: 20px;
            margin: 10px 10px;
            color: $white-color;
            line-height: 20px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .logo-mini{
          float: left;
          width: 40px;
          text-align: center;
          margin-left: 25px;
          margin-right: 11px;
          position: relative;
          top: -5px;
        }

        .simple-text{
            text-transform: uppercase;
            padding: $padding-small-vertical $padding-zero;
            display: block;
            font-size: $font-size-large;
            color: $black-color;
            font-weight: $font-weight-default;
            line-height: 30px;
            text-decoration: none;

            .logo-img{
              width: 40px;
              display: inline-block;
              height: 40px;
              background: $white-color;
              border-radius: 50%;
              text-align: center;
              overflow: hidden;
              @include shadow-big();

                img{
                  width: 55%;
                  vertical-align: -webkit-baseline-middle;
                }
            }
        }
    }

    .logo-tim{
        border-radius: 50%;
        border: 1px solid #333;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;

        img{
            width: 60px;
            height: 60px;
        }
    }

    &:after{
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $white-color;
        opacity: .93;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &[data-color="blue"]{
        @include set-background-color-button($brand-info);
    }
    &[data-color="green"]{
        @include set-background-color-button($brand-success);
    }
    &[data-color="orange"]{
        @include set-background-color-button($brand-warning);
    }
    &[data-color="red"]{
        @include set-background-color-button($brand-danger);
    }
    &[data-color="purple"]{
        @include set-background-color-button($brand-primary);
    }
}

.off-canvas-sidebar{
    .nav {
        > li > a,
        > li > a:hover{
            color: $white-color;
        }

        > li > a:focus{
            background: rgba(200, 200, 200, 0.2);
        }
    }
}

// windows os settings for perfect scrollbar off
.sidebar .sidebar-wrapper,
.main-panel{
    .perfect-scrollbar-on &,
    &{
        overflow: hidden;
    }
}

// regular settings for perfect scrollbar off
.perfect-scrollbar-off{
    .sidebar .sidebar-wrapper,
    .main-panel{
        overflow: auto;
    }
}


.main-panel{
    position: relative;
    float: right;
    width: $sidebar-width;
    @include transition (0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));
    max-height: 100%;

    > .content{
        margin-top: 70px;
        padding: 30px 15px;
        min-height: calc(100% - 123px);
    }

    > .footer{
        border-top: 1px solid #e7e7e7;
    }

    > .navbar{
        margin-bottom: 0;
    }
}
// .sidebar,
// .main-panel{
//     -webkit-transition-property: top,bottom;
//     transition-property: top,bottom;
//     -webkit-transition-duration: .2s,.2s;
//     transition-duration: .2s,.2s;
//     -webkit-transition-timing-function: linear,linear;
//     transition-timing-function: linear,linear;
//     -webkit-overflow-scrolling: touch;
// }
