.md-table-cell-container{
  padding: 12px 8px;

  .md-table-cell:last-child &{
    padding-right: 0;
    text-align: right;
    display: flex;
  }
}
.md-table-head-container{
  height: auto;
  padding: 0;
}
.md-tabs-content table thead{
  display: none;
}

.md-tabs-container tbody .md-table-row:first-child td{
  border: 0;
}

.md-table-cell{
  font-size: $font-size-base;
}

.md-table-head-label{
  font-size: $font-size-base;
  padding-left: 8px;
  font-weight: 500;
}

.md-table .md-table-row:hover .md-table-cell{
  background-color: transparent !important;
}

.md-table .md-table-row:hover{
  background: $table-bg-hover !important;
}

.md-card-plain .md-card-content > div .md-table .md-table-content,
.md-card-plain .md-card-content > div .md-table {
  background-color: transparent !important;
}
